requests==2.32.3
lxml==5.3.2
firebase-admin==6.7.0
python-dotenv==1.1.0
py-cord==2.6.1
google-api-python-client==2.166.0
aiohttp==3.13.3
git+https://github.com/j19930307/sns-core.git@5f1111f4a3c31eb7f7c43f896827fb06a58d4eed
supabase==2.11.0

fake-useragent==1.4.0
python-dateutil==2.9.0
